.cardMenu {
  width: 250px;
  height: 100%;
  border-radius: 30px;
  padding: 5px;
}

.imgMenu {
  width: 100%;
  height: 150px;
  border-radius: 30px;
}

.infoMenu {
  color: black;
}

.infoMenu .infoHargaMenu {
  font-weight: bolder;
  font-size: 30px;
}

.infoMenu .infoNamaMenu {
  font-size: 20px;
}

.infoMenu .addToCartMenu {
  padding: 5px 10px;
  background-color: red;
  color: white;
  font-weight: bolder;
  border-radius: 25px;
  width: 80%;
  font-size: 15px;
  margin-top: 10px;
}
.addToCartMenu:hover {
  cursor: pointer;
  background-color: orangered;
}

.iWhi {
  background-color: #fff;
}

.iYel {
  background-color: yellow;
}

.infoHargaMenu2 {
  font-size: 20px;
  font-weight: normal;
  width: 100%;
  padding: 5px;
  background-color: yellow;
  border-radius: 7px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  gap: 10px;
}

.editInerJumlah {
  color: white;
  background-color: red;
  font-weight: bolder;
  padding: 0px 10px;
  border-radius: 10px;
}
