
.tableSet1 {
  color: black;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

.inputBarPASS{
    width: 100%;
    margin-bottom: 10px;
}

.buttonStyling{
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 7px;
    font-weight: bold;
    color: black;
}

.sky{
    background-color: skyblue;
}

.barTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.barOption{
    font-weight: bold;
}

.passPanel{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.passPanelForm{
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
}

.cm{
    margin-right: 10px;
}