.menuPage {
  width: 100%;
  height: 100%;
}

.navMenuCuto {
  width: 100%;
  height: 80px;
  background-color: rgb(139, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.navMenuCuto .gambarlogo {
  width: 70px;
  height: 70px;
}
.cartCusto {
  padding: 5px 10px;
  background-color: red;
  color: white;
  font-weight: bolder;
  border: 3px solid white;
  border-radius: 30px;
  font-size: 10px;
  width: 80px;
  height: 50px;
}

.menuList {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.getHelp{
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnHelp{
  padding: 5px 15px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 10px;
}

.helpMain{
  width: 900px;
  height: 100vh;
  display: flex;
}

.helpKuadran{
  width: 50%;
}

.helpChatpanel{
  height: 63%;

}

.setUkuranGambar{
  height: 75%;
  width: 100%;
}

.setmidle{
  display: flex;
  align-items: center;
}

.panelInformasi{
  overflow: auto;
}
