.sl1 {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.sl2 {
  padding: 5px;
  border-bottom: 1px solid white;
}

.sl3 {
  text-align: center;
}

.stz {
  font-size: 12px;
}

.loginPage {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.panel1 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel1 .logo {
  width: 400px;
  height: 330px;
}

.panel1 .judulLogin {
  font-weight: bolder;
  font-size: 30px;
}

.panel1 .custoIDPass {
  width: 80px;
  text-align: right;
  font-weight: bolder;
  margin-right: 20px;
}

.panel1 .setBarInput {
  border: 1px solid rgb(19, 19, 19);
  border-radius: 7px;
}

.panel1 .buttonLogin {
  width: 100%;
  padding: 5px 0px;
  font-weight: bolder;
  background-color: red;
  border-radius: 15px;
  color: white;
  border: 1px solid black;
}

.buttonLogin:hover {
  background-color: orangered;
}

.panel1 .footer {
  width: 100%;
  height: 100%;
  align-items: end;
  display: flex;
  justify-content: center;
}

.panel2 {
  background-image: url("../../asset/background.jpg");
  background-size: cover;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel2 .outerline {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
