.utamaMMP {
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bolder;
  margin-bottom: 30px;
}
.inputField {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}
.btnSubmitMMP {
  padding: 5px 10px;
  background-color: red;
  color: white;
  font-weight: bolder;
  border-radius: 7px;
  width: 150px;
  height: 40px;
}
.btnSubmitMMP:hover {
  background-color: orangered;
}

.utamaTabelMMP {
  margin-top: 50px;
  justify-content: center;
  display: flex;
}
.tabelMMP {
  background-color: #8c6234;
  width: 1300px;
  border-radius: 20px;
  min-height: 100vh;
  padding: 10px;
}
.tableSet {
  color: black;
  border: 1px solid black;
  background-color: white;
  text-align: center;
}

.isHV:hover {
  cursor: pointer;
}
.iR {
  background-color: red;
}
.iG {
  background-color: green;
}

.setButtonDetailInfo{
  min-width: 130px;
  margin-right: 10px;
}

.setOneHundretPx{
    max-width: 100px;
}


